################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/ModConfig.json
/.mailmap
/Source/SteamConfig.vdf
